{{>nav}}
<div>
    <a href="/logout">Log out</a>
</div>
<div class="upload">
    <h1>UPLOAD</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <label for="picture">Artwork picture <span>*required</span></label>
        <input type="file" id="picture" name="picture">

        <label for="description">Description <span>*required</span></label>
        <input id="description" type="text" name="description">

        <label for="city">City <span>*required</span></label>
        <input id="city" type="text" name="city">

        <label>Address <span>*required</span></label>
        <input id="latitude" type="text" name="latitude" placeholder="latitude" >
        <input id="longitude" type="text" name="longitude" placeholder="longitude">
        <button id="submitAddress"></button>

        <label for="incognito">Artist details? <span>*required</span></label>
        <div class="form-radio">
            <input checked="checked" type="radio" id="public" name="incognito" value="true">
            <label for="public">Public</label>

            <input type="radio" id="incognito" name="incognito" value="false">
            <label for="incognito">Incognito</label>
        </div>
        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button type="submit">Upload</button>
    </form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFPpH8SXiJpcZvHbUOmOKAhJ2rwOm7l3c"></script>

<script type="text/javascript" src="/javascripts/map.js"></script>