{{>nav}}
<link rel="stylesheet" href="/stylesheets/artwork/upload.css" />
<div>
    <a href="/logout">Log out</a>
</div>
<div class="upload">
    <h1>UPLOAD</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <label for="picture">Artwork picture <span>*required</span></label>
        <input type="file" id="picture" name="picture">

        <label for="description">Description <span>*required</span></label>
        <input id="description" type="text" name="description">

        <label for="city">City <span>*required</span></label>
        <input id="city" type="text" name="city">

        <label>Address <span>*required</span></label>
        <input id="address" type="text" name="address" placeholder="Groeninxstraat 19, Rotterdam" >
        <a id="submitAddress">Get Google Maps location</a>
        <input id="latitude" type="text" name="latitude" placeholder="f.e. 51.9303477" >
        <input id="longitude" type="text" name="longitude" placeholder="f.e. 4.4516448">
        

        <label for="incognito">Artist details? <span>*required</span></label>
        <div class="form-radio">
            <input checked="checked" type="radio" id="public" name="incognito" value="true">
            <label for="public">Public</label>

            <input type="radio" id="incognito" name="incognito" value="false">
            <label for="incognito">Incognito</label>
        </div>
        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button type="submit">Upload</button>

    </form>
</div>

<div id="map" style="display: none"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJmuWI-AKT7ojvQqL3zkekDrCpJxa1G9A"></script>
<script type="text/javascript" src="/javascripts/upload.js"></script>