{{>nav}}
<div class="upload">
    <h1>UPLOAD</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <label for="picture">Artwork picture <span>*required</span></label>
        <input type="file" id="picture" name="picture">

        <label for="description">Description <span>*required</span></label>
        <input id="description" type="text" name="description">

        <label for="city">City <span>*required</span></label>
        <input id="city" type="text" name="city">

        <label>Address <span>*required</span></label>
        <input type="text" name="latitude" placeholder="latitude" >
        <input type="text" name="longitude" placeholder="longitude">

        <label for="incognito">Artist details? <span>*required</span></label>
        <div class="form-radio">
            <input checked="checked" type="radio" id="public" name="incognito" value="true">
            <label for="public">Public</label>

            <input type="radio" id="incognito" name="incognito" value="false">
            <label for="incognito">Incognito</label>
        </div>
        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button type="submit">Upload</button>
    </form>
    {{!-- <script src="../../public/javascripts/geoLocate.js"></script> --}}
</div>