{{>nav}}
<div class="upload">
    <h1>UPLOAD</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <label for="picture">Artwork picture</label>
        <input type="file" id="picture" name="picture">

        <label for="description">Description</label>
        <input id="description" type="text" name="description">

        <label for="latitiude">Latitude</label>
        <input type="number" name="latitude">

        <label for="longitude">Longitude</label>
        <input type="number" name="longitude">

        <div class="form-radio">
            <input checked="checked" type="radio" id="public" name="incognito" value="false">
            <label for="public">Public</label>

            <input type="radio" id="incognito" name="incognito" value="true">
            <label for="incognito">incognito</label>
        </div>
        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button type="submit">Upload</button>
    </form>
    {{!-- <script src="../../public/javascripts/geoLocate.js"></script> --}}
</div>