<!-- markup structure
nav, a wrapping container for a series of link elements
  a, each anchor link element nesting an SVG icon and a span describing the link
-->
<nav>
  <a class="active" href="#">
    <span>
      Explore
    </span>
  </a>

  <a href="#">
    <span>
      Map
    </span>
  </a>

  <a href="#">
    <span>
      Collection
    </span>
  </a>

  <a href="#">
    <span>
      Profile
    </span>
  </a>
</nav>