<!-- markup structure
nav, a wrapping container for a series of link elements
  a, each anchor link element nesting an SVG icon and a span describing the link
-->
<nav>
  <div>
    <a href="/explore">
    <span>Explore</span>
    </a>

    <a href="/map">
      <span>Map</span>
    </a>

    <a href="/list">
      <span>List</span>
    </a>

    <a href="/profile">
      <span>Profile</span>
    </a>
  </div>
</nav>
<script src="/javascripts/nav.js"></script>

