<!-- markup structure
nav, a wrapping container for a series of link elements
  a, each anchor link element nesting an SVG icon and a span describing the link
-->
<nav>
  <a class="active" href="#">
    <span>
      Home
    </span>
  </a>

  <a href="#">
    <span>
      Likes
    </span>
  </a>

  <a href="#">
    <span>
      Search
    </span>
  </a>

  <a href="#">
    <span>
      Profile
    </span>
  </a>
</nav>