<!-- markup structure
nav, a wrapping container for a series of link elements
  a, each anchor link element nesting an SVG icon and a span describing the link
-->
<nav>
  <div>
    <a class="active" href="/explore">
    <span>
      Explore
    </span>
    </a>

    <a href="/map">
      <span>
        Map
      </span>
    </a>

    <a href="/collection">
      <span>
        Collection
      </span>
    </a>

      <a href="/profile">
        <span>
          Profile
        </span>
      </a>
  </div>
</nav>