{{#if loggedIn}}
<nav>
  <div>
    <a href="/explore">
    <span>Explore</span>
    </a>

    <a href="/map">
      <span>Map</span>
    </a>

    <a href="/list">
      <span>List</span>
    </a>

    <a href="/profile">
      <span>Profile</span>
    </a>
  </div>
</nav>
{{else}}
<nav class="login-nav">
  <div class="left">
    <a href="/"><img src="/images/street-curator-logo.png" alt="street-curator-logo"><h1>Street Curator</h1></a>
  </div>
  <div class="log-sign">
    <a href="/login">
    <span>Login</span>
    </a>

    <a href="/signup">
      <span>Sign up</span>
    </a>
  </div>
</nav>
{{/if}}
<script src="/javascripts/nav.js"></script>

