<div>
    <h1>ABOUT US</h1>
    {{#if tourist}}
        <p>If you are an artist, you enjoy the pursuit of the aesthetic, and cannot help but leave your print of beauty everywhere this is for you.</p>
    {{/if}}
    {{#if artist}}
        <p>If you are an art enthusiast, you enjoy the pursuit of the aesthetic, this is for you.</p>
    {{/if}}
</div>
<a href="/signup">
    <div><h1>SIGN UP</h1></div>
</a>
<a href="/login">
    <div><h1>LOGIN</h1></div>
</a>

  <script src="../public/javascripts/nav.js"></script>