
{{>nav}}
<div>
    <h1>ABOUT US</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vitae? Quis optio a quae. Molestiae quas quis praesentium veritatis sit sapiente aliquid minima consectetur officiis! Excepturi repudiandae fuga recusandae quas?</p>
</div>
<a href="/signup">
    <div><h1>SIGN UP</h1></div>
</a>
<a href="/login">
    <div><h1>LOGIN</h1></div>
</a>

  <script src="../public/javascripts/nav.js"></script>