<link rel="stylesheet" href="/stylesheets/explore.css">
{{>nav}}
<div id="explore">
    <h1>WHERE ARE WE GOING?</h1>
    <form action="post">
        <select name="locations" id="">
            <option value="Rotterdam">Rotterdam</option>
            <option value="Amsterdam">Amsterdam</option>
        </select>
    </form>
</div>