<link rel="stylesheet" href="/stylesheets/user/signup.css" />
{{#if user}}
<h1>Hello {{user.username}}</h1>
{{/if}}

<div class="landing-page">
  <div class="info">
    <h1>THE WORLD OF STREET ART AT YOUR FINGERTIPS</h1>
    <h1>CATCH IT HERE AND WINTESS IT</h1>
  </div>
  <div class="box background-green">
    <h1>TOURISTS</h1>
    <ul>
      <li>Be your own tour guide!</li>
      <li>Navigate easily to the most recent street arts</li>
      <li>Get access to unknown arts from incognito artists</li>
    </ul>
    <a href="/about">Let's Go!</a>
  </div>
  <div class="box background-pink">
    <h1>ARTISTS</h1>
    <ul>
      <li>Post your latest yet unknown works</li>
      <li>More exposure for your work</li>
      <li>Enrich the city culture!</li>
    </ul>
    <a href="/about">Let's Go!</a>
  </div>
</div>