<div>
  <div id="">
    <h1>the world of street art at your fingertips.</h1>
    <h1>direct from the source</h1>
  </div>
  <div>
    <h1>TOURISTS</h1>
    <ul>
      <li>Be your own tour guide!</li>
      <li>Navigate easily to the most recent street arts</li>
      <li>Get access to unknown arts from incognito artists</li>
    </ul>
    <a href="/about">Let's Go!</a>
  </div>
  <div>
    <h1>ARTISTS</h1>
    <ul>
      <li>Post your latest yet unknown works</li>
      <li>More exposure for your work</li>
      <li>Enrich the city culture!</li>
    </ul>
    <a href="/about">Let's Go!</a>
  </div>
</div>