<link rel="stylesheet" href="/stylesheets/index.css" />

{{>nav}}

<div class="landing-page">
    <h1 class="title">THE WORLD OF STREET ART AT YOUR FINGERTIPS CATCH IT HERE AND WITNESS IT!</h1>
    <div class="left-section">
        <div class="box left-box">
            <div class="parent">
                <div class="layer">
                    <div class="content-positioning">
                        <h2 class="sub-title tourist-title">TOURIST<span>  art lover</span></h2>
                        <p class="tourist-here">click me<p>
                        <p class="tourist-text hide">Be your own tour guide! Navigate easily to the most recent street arts and get access to the artworks of incognito artists!</p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="box right-box">
            <div class="parent">
                <div class="layer">
                    <div class="content-positioning">
                        <h2 class="sub-title artist-title">ARTISTS <span> creator</span></h2>
                        <p class="artist-here">click me<p>
                        <p class="artist-text hide">Post your latest yet unknown works get more exposure and enrich the city culture! Art is meant to be shared, let's do it together!</p>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

<script type="text/javascript" src="/javascripts/index.js"></script>