<link rel="stylesheet" href="/stylesheets/index.css" />

<div class="landing-page">
    <h1 class="title">THE WORLD OF STREET ART AT YOUR FINGERTIPS CATCH IT HERE AND WITNESS IT</h1>
    <div class="left-section">
        <div class="box left-box">
            <h2 class="sub-title">STREET CURATOR</h2>
            <ul>
                <li>Be your own tour guide!</li>
                <li>Navigate easily to the most recent street arts</li>
                <li>Get access to unknown arts from incognito artists</li>
            </ul>
            <a href="/about/tourist">Let's Go!</a>
        </div>
    </div>
    <div class="right-section">
        <div class="box right-box">
            <h2 class="sub-title">ARTISTS</h2>
            <ul>
                <li>Post your latest yet unknown works</li>
                <li>More exposure for your work</li>
                <li>Enrich the city culture!</li>
            </ul>
            <a href="/about/artist">Let's Go!</a>
        </div>
    </div>
</div>  

<script type="text/javascript" src="/javascripts/index.js"></script>