<link rel="stylesheet" href="/stylesheets/list.css">
{{>nav}}
<div class= "wrapper">
    <div class="row">
        {{#each allLocations}}
        <div class="box">
            <a href="/artwork/details/{{this._id}}"><img src="{{this.picture.path}}" alt=""></a>
        </div>
    {{/each}}
    </div>  
</div>
