<link rel="stylesheet" href="/stylesheets/signup.css" />
<h1>LOGIN</h1>
<form class="login" action="/user/login" method="post">
    <label for="email">email</label>
    <input id="email" type="email" name="email" placeholder="f.e. johnwest@maily.com">
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <button type="submit">Login</button>
    <h1>{{errorMessage}}</h1>
</form>