{{>nav}}
<div class="map">
    <ul>
        <li>Lorem ipsum dolor sit amet consectuptatibus dolor doloremque repellendus dicta deleniti.</li>
        <li>rum commodi sunt, repellendus unde enim laudantium ad aliquam autem!</li>
        <li>etur adipisicing elit. Nost Odit vitae quasi libero, iste soluta vol</li>
        <li>Lorem ipsum dolor sit amet consectuptatibus dolor doloremque repellendus dicta deleniti.</li>
        <li>Lorem ipsum dolor sit amet consectuptatibus dolor doloremque repellendus dicta deleniti.</li>
        <li>Lorem ipsum dolor sit amet consectuptatibus dolor doloremque repellendus dicta deleniti.</li>
    </ul>
</div>