<link rel="stylesheet" href="/stylesheets/map.css" />

{{>nav}}
    <div id="map"></div>
    <p id="cityName" style="display: none">{{cityName}}</p>

<script src="https://maps.googleapis.com/maps/api/js?key={{googleApiKey}}"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>