<link rel="stylesheet" href="/stylesheets/signup.css" />
<h1>SIGNUP</h1>
<form class="sign-up" action="/signup" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="f.e. johnwest">

    <label for="first-name">First name</label>
    <input id="first-name" type="text" name="firstName" placeholder="f.e. John">

    <label for="last-name">Last name</label>
    <input id="last-name" type="text" name="lastName" placeholder="f.e. West">

    <label for="email-address">E-mail address</label>
    <input id="email-address" type="text" name="email" placeholder="f.e. john-west@gmail.com">

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="********">

    <label for="user-type">User type</label>
    <div class="form-radio">
        <input type="radio" id="tourist" name="userType" value="tourist" checked="checked">
        <label for="tourist">Tourist</label>
    </div>
    <div class="form-radio">
        <input type="radio" id="artist" name="userType" value="artist">
        <label for="artist">Artist</label>
    </div>

    {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button type="submit">Lets go!</button>
</form>