<link rel="stylesheet" href="/stylesheets/user/login.css" />
{{>nav}}
<div class="login">
    <h1>LOGIN</h1>
    <form action="/user/login" method="post">
        <label for="email">E-mail address</label>
        <input id="email" type="email" name="email" placeholder="Your e-mail address">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="******">
        {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button type="submit">Login</button>
    </form>
</div>
