<link rel="stylesheet" href="/stylesheets/user/profile.css" />
{{>nav}}
<div class="profile">
    <div class="top-section">
        <div class="user-details">
            <img src="/images/avatar-icon-vector.jpg" alt="">
            <div class="user-credentials">
                <p>test</p>
                <span>test</span>
            </div>
        </div>
        <div class="profile-actions">
            <a href=""><button>Edit Profile</button></a>
            <a href=""><button>Log out</button></a>
        </div>
    </div>
</div>