body{
    height: 100vh;
}

.title{
    position: absolute;
    top: 10%;
    width: 50%;
    text-align: center;
    font-weight: 800;
}

.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.landing-page .left-section, .landing-page .right-section{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page .left-section{
    background-color: #DAE7E2;
}

.landing-page .right-section{
    background-color: #FFEBFC;
}

.landing-page .box{
    box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
  
.landing-page .right-box{
    background: url("https://res.cloudinary.com/dconurgxl/image/upload/v1592227177/street-curator-profile-picture/graffiti-artist_r43why.jpg");
    background-position: center;
}
 
.landing-page .left-box{
    background: url('https://res.cloudinary.com/dconurgxl/image/upload/v1592227178/street-curator-profile-picture/street-curator_xfiybn.jpg');
    background-position: center;
}