body{
    background-color: #ffffff;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.row{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    overflow: hidden;
}
.box{
    max-width:27vw;
    min-width:27vw;
    margin-top: 3rem;
    margin-left: 3rem ;
    display: inline-block;
    z-index: 0;
}
.box img{
    padding: 0;
    max-width:10vw;
    min-width:10vw;
    align-self: center;
}
 .box:hover {
    cursor: pointer;
    z-index: 1;
  }
  .box:hover img{
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    opacity: 1;
  }

@keyframes slide-fwd-center {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(2);
    }
  }

  @media(max-width: 600px){
    .wrapper{
        margin-bottom: 17vh;
    }
    a{
        padding: 2rem 0 0 0;
    }
    .box{
        left: 0;
        margin: 0;
        max-width:30vw;
        min-width:30vw;
        display: inline-block;
        z-index: 0;
    }
    .box img{
        padding: 0rem;
        max-width:25vw;
        min-width:25vw;
       align-self: center;
    }
  }
  