body{
    background-color: #ffffff;
}

#map {
    margin-top: 20px;
    width: 90%;
    height: 475px;
    border-radius: 20px;
}

#map #content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map .more-info-header{
    text-transform: capitalize;
}

#map .more-info-img{
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#map #bodyContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#map .more-info-btn{
    padding: 0px;
    background-color: #A8C7BB;
}

#map .more-info-btn a{
    padding: 5px;
}

@media only screen and (max-width: 400px) {
    #map {
        height: 600px;
    }
}