@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&display=swap");

body {
  font: 14px "Open Sans", "sans-serif", "Lucida Grande", Helvetica, Arial;
  background-color: #dcd2e6;
  color: #010101;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

p, span{
    font-size: 1rem;
}

span{
    font-style: italic;
    color: grey;
}

a {
    padding: 5px;
}

.background-green{
    background-color: #A8C7BB;
}

.background-pink{
    background-color: #FC9797;
}

.background-purple {
    background-color:#392F5A ;
}

.font-green{
    color: #A8C7BB;
}

.font-pink{
    color: #FC9797;
}

.font-purple{
    color:#392F5A;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
form button {
    width: 100%;
    max-width: 500px;
    background-color: #392F5A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form label {
    margin-top: 10px;
}

form .form-radio {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

form .form-radio input,  form .form-radio label{
    width: 75px;
    margin: 8px 0;
}

form label .italic-text{
    font-style: italic;
    color: grey;
}

button {
    background-color: #392F5A;
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
    border-width: 0px;
    cursor: pointer;
}

