.edit-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-profile .profile-picture img{
    width: 100px;
    height: auto;
    border: grey;
    border-width: 1px;
    border-radius: 3px;
}
