.edit-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-profile .profile-picture{
    width: 150px;
    height: auto;
    border: 1px rgb(194, 194, 194) solid;
    border-radius: 5px;
}

.edit-profile .profile-picture img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.edit-profile .delete-btn{
    padding: 0;
    width: 100%;
}

.edit-profile .delete-btn button{
    background-color: indianred;
    width: 100%;
    max-width: 500px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}