.profile{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.profile .username{
    font-weight: bold;
}

.profile .top-section{
    display: flex;
    flex-direction: row;
}

.profile .top-section .user-details{
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.profile .top-section .user-details img{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 20px;
}

.profile .top-section .user-details .user-credentials{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 15px 10px;
    justify-content: flex-end;
}

.profile .top-section .profile-actions{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.profile .top-section .profile-actions a{
    padding: 10px;
}

.profile .top-section .profile-actions .logout-btn{
    background-color: indianred;
}

.profile .posts-section{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .posts-section .post{
    width: 80%;
}

.profile .user-location, .profile .images-response, .profile .social-recognition{
    width: 100%;
}

.profile .artwork-images{
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

.profile .artwork-images img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile .images-response .social-recognition{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile .images-response .social-recognition .stars, .profile .images-response .social-recognition .comments {
    margin-left: 5px;
    margin-right: 5px;
}


.profile .description-comments .description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


.profile .description-comments .comments{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
